@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rental PlayStation</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Selamat Datang Silahkan Rental Lalu Pulang dan Mainkan!!!</a>.</p>
</div>
